In [9]:
import os
from dotenv import load_dotenv
from supabase import create_client

load_dotenv()
url = os.environ.get('SUPABASE_URL')
key = os.environ.get('SUPABASE_KEY')

supabase_client = create_client(url, key)

In [ ]:
import pandas as pd
from io import StringIO

In [28]:
response = (supabase_client.schema("gold").table("dim_customers").select("*").csv().execute())
pd.read_csv(StringIO(response.data))

,customer_key,customer_id,customer_number,first_name,last_name,country,marital_status,gender,birthdate,create_date
0,1,11000,AW00011000,Jon,Yang,Australia,Married,Male,1971-10-06 00:00:00,2025-10-06 00:00:00
1,2,11001,AW00011001,Eugene,Huang,Australia,Single,Male,1976-05-10 00:00:00,2025-10-06 00:00:00
2,3,11002,AW00011002,Ruben,Torres,Australia,Married,Male,1971-02-09 00:00:00,2025-10-06 00:00:00
3,4,11003,AW00011003,Christy,Zhu,Australia,Single,Female,1973-08-14 00:00:00,2025-10-06 00:00:00
4,5,11004,AW00011004,Elizabeth,Johnson,Australia,Single,Female,1979-08-05 00:00:00,2025-10-06 00:00:00
...,...,...,...,...,...,...,...,...,...,...
995,996,11995,AW00011995,Kelvin,Carson,Australia,Married,Male,1965-12-12 00:00:00,2025-10-08 00:00:00
996,997,11996,AW00011996,Veronica,Srini,Australia,Single,Female,1966-01-30 00:00:00,2025-10-08 00:00:00
997,998,11997,AW00011997,Kristina,Kapoor,Australia,Married,Female,1971-04-04 00:00:00,2025-10-08 00:00:00
998,999,11998,AW00011998,Donna,Sharma,Australia,Married,Female,1966-02-07 00:00:00,2025-10-08 00:00:00
999,1000,11999,AW00011999,Johnny,Shan,Australia,Married,Male,1965-12-03 00:00:00,2025-10-08 00:00:00

In [29]:
response = (supabase_client.schema("gold").table("dim_products").select("*").csv().execute())
pd.read_csv(StringIO(response.data))

,product_key,product_id,product_number,product_name,category_id,category,subcategory,maintenance,cost,product_line,start_date
0,1,348,BK-M82B-38,Mountain-100 Black- 38,BI_MB,Bikes,Mountain Bikes,Yes,1898,Mountain,2011-07-01 00:00:00
1,2,349,BK-M82B-42,Mountain-100 Black- 42,BI_MB,Bikes,Mountain Bikes,Yes,1898,Mountain,2011-07-01 00:00:00
2,3,350,BK-M82B-44,Mountain-100 Black- 44,BI_MB,Bikes,Mountain Bikes,Yes,1898,Mountain,2011-07-01 00:00:00
3,4,351,BK-M82B-48,Mountain-100 Black- 48,BI_MB,Bikes,Mountain Bikes,Yes,1898,Mountain,2011-07-01 00:00:00
4,5,344,BK-M82S-38,Mountain-100 Silver- 38,BI_MB,Bikes,Mountain Bikes,Yes,1912,Mountain,2011-07-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
288,289,530,TT-T092,Touring Tire Tube,AC_TT,Accessories,Tires and Tubes,Yes,2,Touring,2013-07-01 00:00:00
289,290,473,VE-C304-L,Classic Vest- L,CL_VE,Clothing,Vests,No,24,Other Sales,2013-07-01 00:00:00
290,291,472,VE-C304-M,Classic Vest- M,CL_VE,Clothing,Vests,No,24,Other Sales,2013-07-01 00:00:00
291,292,471,VE-C304-S,Classic Vest- S,CL_VE,Clothing,Vests,No,24,Other Sales,2013-07-01 00:00:00
292,293,477,WB-H098,Water Bottle - 30 oz.,AC_BC,Accessories,Bottles and Cages,No,2,Other Sales,2013-07-01 00:00:00

In [30]:
response = (supabase_client.schema("gold").table("fact_sales").select("*").csv().execute())
pd.read_csv(StringIO(response.data))

,order_number,product_key,customer_key,order_date,shipping_date,due_date,sales_amount,quantity,price
0,SO43697,18,10769,2010-12-29 00:00:00,2011-01-05 00:00:00,2011-01-10 00:00:00,3578,1,3578
1,SO43698,7,17390,2010-12-29 00:00:00,2011-01-05 00:00:00,2011-01-10 00:00:00,3400,1,3400
2,SO43699,7,14864,2010-12-29 00:00:00,2011-01-05 00:00:00,2011-01-10 00:00:00,3400,1,3400
3,SO43700,39,3502,2010-12-29 00:00:00,2011-01-05 00:00:00,2011-01-10 00:00:00,699,1,699
4,SO43701,7,4,2010-12-29 00:00:00,2011-01-05 00:00:00,2011-01-10 00:00:00,3400,1,3400
...,...,...,...,...,...,...,...,...,...
995,SO45020,14,7333,2011-06-28 00:00:00,2011-07-05 00:00:00,2011-07-10 00:00:00,3578,1,3578
996,SO45021,1,359,2011-06-28 00:00:00,2011-07-05 00:00:00,2011-07-10 00:00:00,3375,1,3375
997,SO45022,3,448,2011-06-28 00:00:00,2011-07-05 00:00:00,2011-07-10 00:00:00,3375,1,3375
998,SO45023,18,2808,2011-06-28 00:00:00,2011-07-05 00:00:00,2011-07-10 00:00:00,3578,1,3578
999,SO45024,5,18476,2011-06-29 00:00:00,2011-07-06 00:00:00,2011-07-11 00:00:00,3400,1,3400